<div id="directories">
    <ul>
        <li><a href="/Buyer">Buyer</a></li>
        <li><a href="/salers">Salers</a></li>
        <li><a href="/login">login</a></li>
    </ul>

</div>
@functions {
   
}