@inherits LayoutComponentBase
<div class="main">
    <div id="header">
        <div id="navbar">top-navbar</div>
    </div>

    <div class="content px-4">
        @Body
    </div>
    <div id="footer">footer</div>
</div>
