
@inherits NavigationBase
<div id="serviceNavigations">
    <ul class="serviceRoot">
    @foreach (var navItem in navigationState?.TopNavigation)
            {
                <li class="">
                    <a href="@navItem.BaseUrl">@navItem.Title</a>
                </li>
                
                  <ul class="serviceActions">
                @foreach(var act in navItem.Actions){
                    
                      
                            
                                <li><a href="@act.Url">@act.Title</a></li>
                            
                        
                   
                }
                </ul>
                
               
            }
        
    </ul>

</div>
