 <div id="searchForm">
    <form action="/Search" method="GET">
        <input name="searchTerm" type="text" id="searchTerm" placeholder="What are you looking for" required/>
        <!-- <input type="search" value="Search" name="searchTerm" id="searchTerm" placeholder="What are you looking for" required /> -->
        <input type="submit" value="Search"/>
        <input type="reset"/>
    </form>
</div>