@inherits SearchBase
<div class="frame">
        <form action="api\search" method="POST">
           <input name="searchTerm" id="searchTerm" placeholder="Hi, How can help you?"/>
           <input type="submit" value="Go"/>
        </form>
</div>
