@page "/checkout"
@inject HttpClient HttpClient
@inject OrderState OrderState
@inject IUriHelper UriHelper
@inject IJSRuntime JS

<div class="main">
   checkout
</div>

<div class="sidebar">
    checkout qa
</div>



@functions {
   
}