@page "/products"
@inject HttpClient HttpClient
@inject OrderState OrderState
@inject IUriHelper UriHelper
@inject IJSRuntime JS

<div class="main">
   products
</div>

<div class="sidebar">
    products qa
</div>



@functions {
   
}