@page "/sale"
@inject HttpClient HttpClient
@inject OrderState OrderState
@inject IUriHelper UriHelper
@inject IJSRuntime JS

<div class="main">
   sale
</div>

<div class="sidebar">
    sidebar qa
</div>



@functions {
   
}