@page "/forgetpassword"
<div id="forgetPassword">
        <form action="forgetPassword" method="POST">
            <input type="text" name="userMembership" id="userMembership"/>
            <input type="submit">
        </form>
    </div>
    