@font-face {
  font-family: 'iconmoon';
  src: url('icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'iconmoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
  content: "\e902";
}
.icon-facebook2:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
