@page "/"
<div>
<!-- PAGE HEADER GOES HERE -->
    <header>
     header
    </header>
    
<!-- PAGE NAVIGATION GOES HERE -->
    <nav>
    nav
    </nav>
    
<!-- PAGE CONTENT GOES HERE -->
    <main>
        main
    </main>
    
<!-- PAGE FOOTER GOES HERE -->
    <footer>
    footer
    </footer>
  

</div>
