@page "/"
<div>
<header><AppHeader></AppHeader> </header>
    
<!-- PAGE NAVIGATION GOES HERE -->
    <nav class="clearfix">
        <Navigation>
        </Navigation>
    </nav>
    
<!-- PAGE CONTENT GOES HERE -->
    <main class="clearfix">
        main
    </main>
    
<!-- PAGE FOOTER GOES HERE -->
    <footer>
        <AppFooter>
        </AppFooter>
    </footer>

</div>
