@page "/"
<div>
    Gatekeeper
</div>
<div id="nav">
    <ul>
        <l1><a href="login">Login</a></l1>
        <l1><a href="verify">Verify</a></l1>
        <l1><a href="register">Register</a></l1>
        <l1><a href="forgetPassword">ForgetPassword</a></l1>
        <l1><a href="resetPassword">ResetPassword</a></l1>
        <l1><a href="logout">logout</a></l1>
    </ul>
</div>




