@page "/register"
<div id="register">
        <form action="register" method="POST">
            <input type="tel" name="mobile" id="userMobile"/>
            <input type="submit"/>
        </form>
    </div>